<nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
  
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
         Inicio
        </a>
  
        <a href="/servicios" class="navbar-item">
         Servicios
        </a>
  
       
      </div>
  
     
    </div>
  </nav>